RewriteEngine On

RedirectPermanent /boutique https://market-factory.fr/boutique/boutique/bagad-naoned.html

RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www\.bagaddenantes\.bzh [NC]
RewriteRule ^(.*)$ https://bagaddenantes.bzh/$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule (.*) $1.php [L]
